.const_iconbox img {
    width: 65px;
    height: 70px;
}

.const_iconbox .gem {
    position: absolute;
    top: 23%;
    left: 26%;
}

.const_iconbox .rau {
    position: absolute;
    top: 11%;
    left: 30%;

}

.const_iconbox .ari {
    position: absolute;
    top: 5%;
    left: 38%;

}

.const_iconbox .pis {
    position: absolute;
    top: 3%;
    left: 48%;

}

.const_iconbox .aqu {
    position: absolute;
    top: 6%;
    left: 59%;

}

.iconbx .cap img {
    width: 160px;
    height: 200px;
}

.const_iconbox .can {
    position: absolute;
    top: 42%;
    left: 27%;

}

.const_iconbox .sag {
    position: absolute;
    top: 45%;
    left: 68%;
}

.const_iconbox .sco {
    position: absolute;
    top: 56%;
    left: 61%;

}

.const_iconbox .lib {
    position: absolute;
    top: 61%;
    left: 52%;
}

.const_iconbox .vir {
    position: absolute;
    top: 61%;
    left: 42%;
}

.const_iconbox .leo {
    position: absolute;
    top: 54%;
    left: 33%;
}

.iconbx .cap_icon img {
    width: 130px;
    height: 170px;
}

.iconbx .cap {
    position: absolute;
    top: 11%;
    right: 26%;
}

.iconbx .cap_icon {
    position: absolute;
    top: 14%;
    right: 27%;
}

.section .Shadows {
    position: absolute;
    top: 28%;
    right: 28%;

    color: #f9f9f9;
    font-size: 22px;
}

.section .inner .serif {
    position: absolute;
    top: 31%;
    right: 26%;

    color: #ddd;
    font-size: 14px;
}

.intro .cicle {
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-30%, -65%);
}


.intro .earthicon02 {
    width: 0px;
}

.intro .cons_sunicon02 {
    width: 0px;
}

.intro .path1 svg {
    width: 0px;
}

@media (max-width:768px) {

    
    .intro .cicle {
        display: none;
    }

    .intro .cons_sunicon {
        display: none;
    }

    .intro .cons_earthicon {
        display: none;
    }

    .intro .const_imgbox .cons_sunicon02{
        position: fixed;
    }

    .intro .const_imgbox .cons_sunicon02 {
        position: absolute;
        top: 24%;
        left: 42%;
        width: 38px;
    }

    .intro .earthicon02 {
        position: absolute;
        top: 30%;
        left: 9%;
        width: 30px;
    }


    .intro .path1 {
        position: absolute;
        top: 10%;
        left: 12%;
    }

    .intro .path1 svg {
        width:280px; 
        height:300px;
    }
}



@media (max-width:768px) {
    
    .const_iconbox img {
        width: 38px;
        height: 30px;
    }
    
    .const_iconbox .gem {
        position: absolute;
        top: 25%;
        left: 2%;
        transform: translate(-10%, 0%);
    }

    
    .const_iconbox .rau {
        position: absolute;
        top: 19%;
        left: 4%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .ari {
        position: absolute;
        top: 13%;
        left: 19%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .pis {
        position: absolute;
        top: 11%;
        left: 40%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .aqu {
        position: absolute;
        top: 13%;
        right: 28%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .can {
        position: absolute;
        top: 32%;
        left: 6%;
        transform: translate(0%, 0%);
    }

    .const_iconbox .sag {
        position: absolute;
        top: 37%;
        left: 16%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .sco {
        position: absolute;
        top: 39%;
        left: 33%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .lib {
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .vir {
        position: absolute;
        top: 37%;
        left: 65%;
        transform: translate(0%, 0%);
    }
    
    .const_iconbox .leo {
        position: absolute;
        top: 33%;
        left: 77%;
        transform: translate(0%, 0%);
    }
    
    .iconbx .cap_icon img {
        width: 70px;
        height: 78px;
    }

    .iconbx .cap_icon {
        position: absolute;
        top: 18%;
        right: 7%;
        transform: translate(0%, 0%);
    }
    
    .iconbx .cap img {
        width: 95px;
        height: 90px;
    }

    .iconbx .cap {
        position: absolute;
        top: 17%;
        right: 3%;
        transform: translate(0%, 0%);
    }

        
    .section .inner .serif {
        position: absolute;
        top: 26%;
        right: 5%;
        transform: translate(0%, 0%);
    
        color: #ddd;
        font-size: 8px;
    }

    .section .Shadows {
        font-size: 0px;
    }
}